{% extends "shop/base.html" %}

{# <ul>
    {% for obj in object_list %}
        <li><p>{{ obj.name }}</p></li>
        <li><p>{{ obj.company }}</p></li>
        <li><p>{{ obj.category }}</p></li>
        <li><p>{{ obj.specifications }}</p></li>
        <li><p>{{ obj.image }}</p></li>
        <li><p>{{ obj.sheet }}</p></li>

        <hr>

    {% endfor %}
</ul>
 #}





{% load static %}

{% block content %}

<section id="myproduct">	
	<!-- Product -->
	<br class="hide-in-mobile">
	<br class="hide-in-mobile">
	<br class="hide-in-mobile">
	<br class="hide-in-mobile">
	<br class="hide-in-mobile">
	<div class="container m-t-50">
			<nav aria-label="breadcrumb">
							
					<ol class="breadcrumb">
							<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
					<li class="breadcrumb-item"><a href="/" class="text-primary">خانه</a></li>
					<li class="breadcrumb-item active" aria-current="page">محصولات</li>
					</ol>
				</nav>
			</div>
	<div class="bg0 p-t-23 p-b-140 my_back col-md-11" style="margin: 0 auto; margin-top:50px !important ; margin-bottom:30px" >
			<div class="container">
				<div class="p-b-10">
					<h2 class="ltext-103 cl8 p-t-25">
							<i class="fa fa-shopping-basket"></i> محصولات
					</h2>
				</div>
	
				<div class="flex-w flex-sb-m p-b-52">
					<div class="flex-w flex-l-m filter-tope-group m-tb-10">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							کل محصولات
						</button>
	
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="#first">
							شامپوها
						</button>
	
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="#second">
							بردهای الکترونیک
						</button>
	
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="#third">
							باطری ها
						</button>
	
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="#fourth">
							نمایشگرها
						</button>
	
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="#five">
							تجهیزات شبکه
						</button>
					</div>
	
					<div class="flex-w flex-c-m m-tb-10">
						<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
							<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
							<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							   &nbsp فیلتر  
						</div>
	
						<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
							<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
							<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							&nbspجست و جو
						</div>
					</div>
					
					<!-- Search product -->
					<div class="dis-none panel-search w-full p-t-10 p-b-15">
						<div class="bor8 dis-flex p-l-15">
							<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
	
							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="جست و جو کن">
						</div>	
					</div>
	
					<!-- Filter -->
					<div class="dis-none panel-filter w-full p-t-10">
						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<div class="filter-col1 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									دسته بندی بر اساس
								</div>
	
								<ul>
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											پیش فرض
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											محبوب ترین ها
										</a>
									</li>
	
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 ">
											جدیدترین ها
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											قیمت: از کمترین تا بیشترین
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											قیمت: از بیشتر تا کمترین
										</a>
									</li>
								</ul>
							</div>
	
							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									قیمت
								</div>
	
								<ul>
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											همه
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
												کمتر از 50.000 تومان
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
												از 50.000 تومان تا 150.000 تومان
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
												از 150.000 تومان تا 300.000 تومان
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
												از 300.000 تومان تا 500.000 تومان
										</a>
									</li>
	
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
												بیشتر از 500.000 تومان
	
										</a>
									</li>
								</ul>
							</div>
	
							<div class="filter-col3 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									رنگ
								</div>
	
								<ul>
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #222;">
											<i class="zmdi zmdi-circle"></i>
										</span>
	
										<a href="#" class="filter-link stext-106 trans-04">
											مشکی
										</a>
									</li>
	
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
											<i class="zmdi zmdi-circle"></i>
										</span>
	
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											آبی
										</a>
									</li>
	
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
											<i class="zmdi zmdi-circle"></i>
										</span>
	
										<a href="#" class="filter-link stext-106 trans-04">
											خاکستری
										</a>
									</li>
	
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
											<i class="zmdi zmdi-circle"></i>
										</span>
	
										<a href="#" class="filter-link stext-106 trans-04">
											سبزی
										</a>
									</li>
	
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
											<i class="zmdi zmdi-circle"></i>
										</span>
	
										<a href="#" class="filter-link stext-106 trans-04">
											قرمز
										</a>
									</li>
	
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
											<i class="zmdi zmdi-circle-o"></i>
										</span>
	
										<a href="#" class="filter-link stext-106 trans-04">
											سفید
										</a>
									</li>
								</ul>
							</div>
	
							<div class="filter-col4 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									تگ
								</div>
	
								<div class="flex-w p-t-4 m-r--5">
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										ابزار
									</a>
	
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										تجهیزات
									</a>
	
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										خازن
									</a>
	
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										برد
									</a>
	
									<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										باطری
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="row isotope-grid">
					{% for obj in object_list %}
						{% if obj.category == "دسته-اول" %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-6 p-b-35 isotope-item" id="first">
							<!-- product cards -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src={{obj.image.url}} alt="IMG-PRODUCT">
		
									<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										اطلاعات بیشتر
									</a>
								</div>
		
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{obj.name}}
										</a>
										<p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" >{{obj.company}}</p>
		
										<span class="stext-105 cl3">
											{{obj.prise}} تومان
										</span>
									</div>
		
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/static/images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if obj.category == "دسته-دوم" %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-6 p-b-35 isotope-item" id="second">
							<!-- product cards -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src={{obj.image.url}} alt="IMG-PRODUCT">
		
									<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										اطلاعات بیشتر
									</a>
								</div>
		
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{obj.name}}
										</a>
										<p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" >{{obj.company}}</p>
	
		
										<span class="stext-105 cl3">
											{{obj.prise}} تومان
										</span>
									</div>
		
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/static/images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if obj.category == "دسته-سوم" %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-6 p-b-35 isotope-item" id="third">
							<!-- product cards -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src={{obj.image.url}} alt="IMG-PRODUCT">
		
									<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										اطلاعات بیشتر
									</a>
								</div>
		
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{obj.name}}
										</a>
										<p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" >{{obj.company}}</p>

		
										<span class="stext-105 cl3">
											{{obj.prise}} تومان
										</span>
									</div>
		
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/static/images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if obj.category == "دسته-چهارم" %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-6 p-b-35 isotope-item" id="fourth">
							<!-- product cards -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src={{obj.image.url}} alt="IMG-PRODUCT">
		
									<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										اطلاعات بیشتر
									</a>
								</div>
		
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{obj.name}}
										</a>
										<p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" >{{obj.company}}</p>

		
										<span class="stext-105 cl3">
											{{obj.prise}} تومان
										</span>
									</div>
		
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/static/images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if obj.category == "دسته-پنجم" %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-6 p-b-35 isotope-item" id="five">
							<!-- product cards -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<img src={{obj.image.url}} alt="IMG-PRODUCT">
		
									<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										اطلاعات بیشتر
									</a>
								</div>
		
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{obj.name}}
										</a>
										<p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" >{{obj.company}}</p>
		
										<span class="stext-105 cl3">
											{{obj.prise}} تومان
										</span>
									</div>
		
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/static/images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
	
					
				</div>
	
				<!-- Load more -->
				<div class="flex-c-m flex-w w-full p-t-45">
					<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
	مشاهده بیشتر
					</a>
				</div>
			</div>
		</div>
	</section>

	{% endblock content %}
